<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/perpetuum.knockout.js"></script>
@model Knockout002.Models.Persona
@using PerpetuumSoft.Knockout
@{ var ko = Html.CreateKnockoutContext(); }
<p>First name: @ko.Html.TextBox(m => m.Nombre)</p>
<p>Last name: @ko.Html.TextBox(m => m.Apellido)</p>
<h2>Hello, @ko.Html.Span(m => m.FullName)!</h2>
@ko.Apply(Model)


